/* ============================================= */
/* Sub-Folder Imports */
/* ============================================= */
/* line 2, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/base/_page.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/base/_page.scss */
.vl {
  border-left: 3px solid #f3f3f3;
  height: 65px;
  position: absolute;
  left: 57%;
  margin-left: -3px;
  top: 0;
  margin-top: 10px;
}

/* line 1, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.social-image {
  width: 30%;
  height: auto;
  margin-top: 13px;
  margin-left: 30px;
}

/* line 9, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.nav-icon {
  width: 50%;
  height: auto;
  fill: whitesmoke;
  margin-left: 40%;
  margin-right: 40%;
}

/* line 20, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.widget-container-full, .widget-container-half {
  width: 95vw;
}

/* line 24, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.bell {
  width: 30px;
  margin-top: 20px;
}

/* line 29, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.current-user {
  width: 50px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 50%;
}

/* line 36, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.profile-image {
  border-radius: 60%;
  margin-left: 30%;
}

/* line 3, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}

/* line 17, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr .5fr 1fr;
  background-color: #8d5eea;
}

/* line 25, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(80, 30, 137, 0.989);
}

/* line 33, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr;
}

/* line 39, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.social-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border: 1px #f3f3f3 solid;
  border-radius: 2%;
  font-size: 18px;
  background-color: #f3f3f3;
  margin: 15px;
}

/* line 50, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.members-text {
  margin-left: 30%;
}

/* line 55, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.message-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* line 5, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;
}

/* line 18, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  transition: left .3s;
}

/* line 32, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle:checked {
  background-color: #8e18f5;
}

/* line 41, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle:checked:after {
  left: 70%;
}

/* line 48, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.button-primary {
  background-color: #8d5eea;
}

/*# sourceMappingURL=styles.css.map */