/* ============================================= */
/* Sub-Folder Imports */
/* ============================================= */
/* line 2, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/base/_page.scss */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

/* line 11, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/base/_page.scss */
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 1, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.social-image {
  width: 30%;
  height: auto;
  margin-top: 13px;
  margin-left: 30px;
  fill: #8d5eea;
}

/* line 10, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.nav-icon {
  width: 40%;
  height: auto;
  fill: whitesmoke;
  margin-left: 40%;
  margin-right: 40%;
}

/* line 21, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.widget-container-full, .widget-container-half {
  width: 95vw;
}

/* line 25, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.bell-svg {
  width: 30px;
  fill: whitesmoke;
}

/* line 31, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.current-user {
  width: 50px;
  border-radius: 50%;
}

/* line 36, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.profile-image {
  width: 60px;
  border-radius: 60%;
  align-self: center;
}

@media (min-width: 768px) {
  /* line 46, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
  .current-user {
    margin-bottom: 8px;
    width: 45px;
  }
  /* line 51, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
  .bell-svg {
    width: 25px;
    margin-top: 20px;
  }
  /* line 56, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
  .nav-icon {
    width: 70%;
    margin-left: 20%;
    margin-top: 10px;
  }
}

/* line 3, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "dashboard" "main" "footer";
}

/* line 19, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: #8d5eea;
  color: whitesmoke;
  height: 80px;
}

/* line 28, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#top-info {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

/* line 34, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.webapp-logo {
  font-size: 24px;
  margin-top: 15px;
  padding-left: 10px;
  justify-self: flex-start;
}

/* line 42, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.vertical-line {
  height: 40px;
  top: 0;
  margin-top: 15px;
  border-left: 1px solid #f3f3f3;
  position: relative;
  justify-self: center;
}

/* line 54, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#top-info {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

/* line 62, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#notifications {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-self: center;
  margin-top: 15px;
}

/* line 71, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.top-name {
  margin-top: 15px;
}

/* line 78, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.main-header {
  grid-area: dashboard;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* line 86, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.headline {
  margin-left: 10px;
  margin-top: 20px;
}

/* line 91, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#tab {
  background-color: #e2e0e0;
  border: 1px gray solid;
}

/* line 99, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
nav {
  grid-area: navigation;
  display: flex;
  justify-content: space-between;
  background-color: rgba(80, 30, 137, 0.989);
  padding: 10px;
}

/* line 108, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  margin-left: 10px;
}

/* line 118, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#traffic,
.daily,
.mobile,
.social-container-full,
#members,
.activity,
.message {
  border-bottom: 2px lightgrey solid;
  margin-left: -10;
  margin-right: -10;
}

/* line 131, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.members-container,
.members-activity {
  border-bottom: lightgray solid 1px;
}

/* line 136, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.social-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border: 1px #f3f3f3 solid;
  border-radius: 2%;
  background-color: #f3f3f3;
  margin: 15px;
}

/* line 146, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.social-text {
  margin-top: 10px;
}

/* line 150, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.st-top {
  font-size: 18px;
  color: #8d5eea;
  font-weight: 600;
}

/* line 156, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.st-number {
  font-size: 40px;
}

/* line 162, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.members-container,
.members-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

/* line 170, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#date {
  margin-top: auto;
}

/* line 175, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.members-text,
.members-activity p,
#date {
  text-align: center;
  margin-bottom: 15px;
}

/* line 182, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.members-text a {
  color: #8d5eea;
}

/* line 192, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.message,
#settings {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
}

/* line 199, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#userField,
#messageField {
  background-color: rgba(206, 205, 205, 0.329);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 2px #c1bfbf solid;
  width: 90%;
}

/* line 210, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#userField {
  margin-top: 10px;
}

/* line 214, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#messageField {
  height: 180px;
  margin-top: 10px;
}

/* line 220, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#send {
  width: 90%;
}

/* line 226, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#settings {
  margin-left: 10px;
}

/* line 230, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#check1 {
  padding-bottom: 10px;
}

/* line 233, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#check2 {
  padding-bottom: 20px;
}

/* line 237, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#box1 {
  margin-left: 30%;
}

/* line 241, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#box2 {
  margin-left: 37.5%;
}

/* line 245, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#timezone {
  width: 90%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: rgba(206, 205, 205, 0.329);
  border: 1px solid gray;
  border-radius: 5px;
}

/* line 258, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
#b2t {
  grid-area: footer;
  margin-left: 20%;
}

@media (min-width: 768px) {
  /* line 270, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation dashboard" "navigation main" "navigation footer";
  }
  /* line 281, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  header {
    grid-area: header;
    height: 70px;
  }
  /* line 286, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .vertical-line {
    height: 40px;
  }
  /* line 290, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .top-name {
    margin-top: 10px;
    margin-left: -4px;
    font-size: 14px;
    padding-right: 5px;
  }
  /* line 297, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .bell-svg {
    margin-top: 5px;
  }
  /* line 301, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #notifications {
    padding-right: 10px;
  }
  /* line 306, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  nav {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .03fr .03fr .03fr .03fr;
  }
  /* line 314, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  main {
    grid-template-columns: 50%;
    margin-top: 10px;
  }
  /* line 320, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .headline {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
  }
  /* line 326, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #tab {
    grid-column: 2 / span 2;
    height: 60px;
  }
  /* line 331, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .alert {
    grid-row: 1 / span 2;
    margin-top: 15px;
  }
  /* line 337, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .daily,
  .mobile {
    border: 1px lightgray solid;
  }
  /* line 343, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #traffic {
    padding-left: 15px;
  }
  /* line 347, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .traffic-nav {
    display: flex;
    justify-content: space-around;
  }
  /* line 355, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .social-container-full {
    display: flex;
    grid-column: 1 / span 2;
    width: 90vw;
  }
  /* line 362, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .social-container {
    width: 60vw;
    border: 3px rgba(206, 205, 205, 0.329) solid;
    margin-left: 2px;
  }
  /* line 369, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .social-image {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
  }
  /* line 376, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .social-text {
    padding: 10px;
  }
  /* line 381, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #stats-section {
    grid-column: 1 / span 2;
  }
  /* line 392, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .alert, #traffic, #members, .activity, .message, #settings {
    grid-column: 1 / span 2;
  }
  /* line 397, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .daily {
    grid-column: 1 / span 1;
  }
  /* line 402, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .mobile {
    grid-column: 2 / span 1;
  }
  /* line 407, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .widget-container-full {
    width: 90vw;
  }
  /* line 410, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .widget-container-half {
    width: 45vw;
  }
  /* line 415, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .members-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85vw;
    align-items: center;
    gap: 20px;
    text-align: right;
    padding-bottom: 10px;
  }
  /* line 426, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .members-text {
    text-align: left;
  }
  /* line 430, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #date {
    margin-left: auto;
  }
  /* line 435, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .members-activity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85vw;
    align-items: center;
    gap: 20px;
    text-align: right;
    padding-bottom: 10px;
  }
  /* line 446, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .members-activity p {
    text-align: left;
  }
  /* line 453, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  /* line 459, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #toggle input {
    margin-right: auto;
  }
  /* line 463, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #box1 {
    margin-left: 10%;
  }
  /* line 467, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #box2 {
    margin-left: 15%;
  }
}

@media (min-width: 1024px) {
  /* line 475, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation dashboard" "navigation main" "navigation footer";
  }
  /* line 487, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #top-info {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  /* line 496, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  .headline {
    margin-left: auto;
    padding: 12px;
  }
  /* line 501, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
  #tab {
    width: 85vw;
    height: 70px;
  }
}

/* line 1, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle,
.button-primary,
#timezone
#cancel {
  cursor: pointer;
}

/* line 11, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background-color .3s;
  outline: none;
  cursor: pointer;
}

/* line 25, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  transition: left .3s;
}

/* line 39, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle:checked {
  background-color: #8e18f5;
}

/* line 44, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle:checked:after {
  left: 70%;
}

/* line 51, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.button-primary {
  background-color: #8d5eea;
  color: #fff;
  border-radius: 8px;
  border: none;
}

/* line 58, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
#send {
  height: 50px;
  font-size: 18px;
}

/* line 64, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
#save,
#cancel {
  height: 50px;
  width: 30%;
  font-size: 16px;
  margin-top: 15px;
}

/* line 72, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
#cancel {
  border-radius: 8px;
  border: none;
  background-color: #847c7c;
  color: #fff;
  margin-left: 140px;
}

/* line 84, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
#timezone {
  border: #c1bfbf 1px solid;
  margin-top: 15px;
  padding: 15px;
}

/* line 91, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.b2t {
  border: 1px solid #8d5eea;
  width: 80px;
  background-color: #8d5eea;
  background-color: #8d5eea;
  color: #fff;
  border-radius: 8px;
  border: none;
}

/*# sourceMappingURL=styles.css.map */