/* ============================================= */
/* Sub-Folder Imports */
/* ============================================= */
/* line 2, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/base/_page.scss */
* {
  box-sizing: border-box;
}

/* line 1, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.social-image {
  width: 10%;
  height: auto;
}

/* line 7, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.nav-icon {
  width: 100%;
  height: auto;
  fill: whitesmoke;
}

/* line 13, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.widget-container-full, .widget-container-half {
  width: 95vw;
}

/* line 17, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.bell {
  width: 20px;
  margin-top: 30px;
}

/* line 22, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_images.scss */
.current-user {
  width: 50px;
  margin-top: 15px;
}

/* line 3, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}

/* line 17, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr .5fr 1fr 2fr;
  background-color: aqua;
}

/* line 23, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(80, 30, 137, 0.989);
}

/* line 31, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_grid.scss */
.main {
  grid-area: main;
  display: grid;
}

/* line 5, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;
}

/* line 18, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  transition: left .3s;
}

/* line 32, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle:checked {
  background-color: #8e18f5;
}

/* line 41, ../../Coding Projects/FEWD-7_web_app_dashboard/FEWD-7_web_app_dashboardCW/SASS/components/_buttons.scss */
.toggle:checked:after {
  left: 70%;
}

/*# sourceMappingURL=styles.css.map */