/* ============================================= */
/* Sub-Folder Imports */
/* ============================================= */

@import 
        "base/index",
        "components/index";




    

.social-image {
    //display: none;
    width: 10%;
    height: auto;
}

.nav-icon {
    width: 100%;
    height: auto;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
    }












