
    
//toggle buttons
//input
.toggle {
    -webkit-appearance: none;
    position: relative;
    //width: 50px;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background-color .3s;
    outline: none;
    cursor: pointer;
}

//input
.toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
}

//input
.toggle:checked {
    background-color: rgb(142, 24, 245);
    
   // rgb(191, 94, 203);

    //rgb(141, 221, 141);
}

//input
.toggle:checked:after {
    left: 70%;
    
}


//Save and Send
.button-primary {
    background-color: $main-accent;
}

