.toggle,
.button-primary,
#timezone
#cancel
 {
    cursor: pointer;
}
    
//toggle buttons
//input
.toggle {
    -webkit-appearance: none;
    position: relative;
    //width: 50px;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background-color .3s;
    outline: none;
    cursor: pointer;
}

//input
.toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
}

//input
.toggle:checked {
    background-color: rgb(142, 24, 245);
}

//input
.toggle:checked:after {
    left: 70%;
    
}


//Save and Send
.button-primary {
    background-color: $main-accent;
    color: $white;
    border-radius: 8px;
    border: none;
}

#send {
    height: 50px;
    font-size: 18px;
    
}

#save,
#cancel {
    height: 50px;
    width: 30%;
    font-size: 16px;
    margin-top: 15px;
}

#cancel {
    border-radius: 8px;
    border: none;
    background-color: #847c7c;
    color: $white;
    margin-left: 140px;
}


#timezone {
    border: $border-gray 1px solid;
    margin-top: 15px;
    padding: 15px;
    
}

//Back 2 top button
.b2t {
    display: flex;
    border: 1px solid $main-accent;
    width: 90vw;
    background-color: $main-accent;
    color: $white;
    //border-radius: 8px;
    border: none;
    text-align: center;
    height: 35px;
    justify-self: flex-end;
}





//Dropdown Button
.dropbtn {
    background-color: $main-accent;
    border: none;
    cursor: pointer;
  }
  
//Dropdown button on hover & focus
  .dropbtn:hover, .dropbtn:focus {
    border: 1px solid black;
    padding: 2px;
  }
  
//The container <div> - needed to position the dropdown content
  #top-info {
    position: relative;
  }
  
//Dropdown Content (Hidden by Default)
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
//Links inside the dropdown
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
//Change color of dropdown links on hover
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
//Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
  .show {
    display:block;
}

//Buttons for daily, weekly....

.traffic-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
}


.traffic-button {
    border: none;
    padding: 10px;
    //align-self: flex-end;
    background-color: white;
    font-size: 16px;
    font-weight: 800;
    
}

.traffic-button:focus, .traffic-button:hover {
    border-radius: 20px;
    color: $white;
    background-color: rgb(64, 207, 160);
}