.toggle,
.button-primary,
#timezone
#cancel
 {
    cursor: pointer;
}
    
// //toggle buttons
// //input
// .toggle {
//     -webkit-appearance: none;
//     position: relative;
//     //width: 50px;
//     //left: 25%;
//     width: 80px;
//     height: 30px;
//     border-radius: 25px;
//     background-color: rgb(142, 24, 245);//#ccc;
//     transition: background-color .3s;
//     outline: none;
//     cursor: pointer;
// }


// //input
// .toggle::before {
//     content: '';
//     position: absolute;
//     top: 15%; //50%;
//     left: 70%; //75%;
//     //transform: translate(-50%, -50%);
//     border-radius: 50%;
//     height: 1.25rem;
//     width: 1.25rem;
//     background-color: rgb(255, 255, 255);
//     transition: left .3s;
// }

// // // //input
// // .toggle:checked {
// //     background-color: #ccc;//rgb(142, 24, 245);
// // }

// // // //input
// .toggle::after {
//     //content: 'ON';
//     //left: 6%;//78%;//-25%; 
//     //transform: translate(-50%, -50%);
//     transition: left .3s;
//     font-size: 1.3em;
//     //background-color: #ccc;
//     color: white;
//     top: 10%;
//     left: 0%;
// }

////////////////////////////////////////////////////

.toggle {
    -webkit-appearance: none;
    position: relative;
    //width: 50px;
    //left: 25%;
    width: 80px;
    height: 38px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background-color .3s;
    outline: none;
    cursor: pointer;
    color: white;
}

.toggle:checked {
  background-color: rgb(142, 24, 245)//#ccc;
}

.toggle::after,
.toggle:checked::after {
    content: '';
    
}

.toggle::after,
.toggle:checked::before {
    position: absolute;
}

.toggle::after {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: white;
    transition: left .3s;
}

.toggle:checked::before {
    content: 'ON';
    top: 7px;
    left: 11px;
    font-size: 1.3em;
}

.toggle:checked::after {
    left: 80%;
    //background-color: #ddd;
}

///////////////////////////////////////////////////

//Save and Send
.button-primary {
    background-color: $main-accent;
    color: $white;
    border-radius: 8px;
    border: none;
}

#send {
    height: 50px;
    font-size: 18px;
    
}

#save,
#cancel {
    height: 50px;
    width: 45%;
    font-size: 16px;
    margin-top: 15px;
}

@media (min-width: 768px) {
  #save, #cancel {
    width: 48%;
}
}

.settings-buttons {
  display: flex;
  justify-content: space-between;
}

#cancel {
    border-radius: 8px;
    border: none;
    background-color: #847c7c;
    color: $white;
    //margin-left: 140px;
    margin-left: auto;
    margin-right: 10px;
}


#timezone {
    border: $border-gray 1px solid;
    margin-top: 15px;
    padding: 15px;
    
}

//Back 2 top button

.backUpbtn {
  grid-area: footer;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    background-color: $main-accent;
    color: $white;
    margin-top: auto;
    position: absolute;
    border: none;
    
}


//Dropdown Button
.dropbtn {
    background-color: $main-accent;
    border: none;
    cursor: pointer;
  }
  

//The container <div> - needed to position the dropdown content
  #top-info {
    position: relative;
  }
  
//Dropdown Content (Hidden by Default)
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
//Links inside the dropdown
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
//Change color of dropdown links on hover
  .dropdown-content li:hover {
    background-color: #ddd;
}
  
//Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
  .show {
    display:block;
}

//Buttons for daily, weekly....




.traffic-button {
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 14px;
    font-weight: 800;
    //margin-right: 10px;
    
    
}

.traffic-button:focus, .traffic-button:hover {
    border-radius: 20px;
    color: $white;
    background-color: rgb(64, 207, 160);
    cursor: pointer;
}