//Mobile First 320px


.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    //margin: 15px ;
    grid-template-areas:
    "header"
    "navigation"
    "dashboard"
    "main"
    "footer";
}

////////////// Header-Mobile /////////////////////


header {
    grid-area: header;
    // display: grid;
    // grid-template-columns: 2fr .5fr .2fr 2fr;

    display: flex;
    justify-content: space-between;

    background-color: $main-accent;
    color: whitesmoke;
    height: 80px;
    }


.webapp-logo {
    font-size: 24px;
    margin-top: 15px;
    padding-left: 10px;
    justify-self: flex-start;
    
  }


.vertical-line {
    height: 40px;
    //position: absolute;
    //left: 57%;
    //margin-left: -3px;
    top: 0;
    margin-top: 15px;
    border-left: 1px solid $gray;
    position: relative;

    justify-self: center;

    }

//bell-svg in images file

//Grouping of top items in header
#top-info {
    display: flex;
    justify-content: space-between;
    width: 30%;
}


//current-user and top-name
#notifications {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;

    justify-self: center;

    //width: 70px;
   // height: 1%;
    margin-top: 15px;
    //margin-left: 5px;
    

}



.top-name {
    //margin-left: 10px;
    margin-top: 15px;
}



////////////////////Tab and dashboard
.main-header {
    grid-area: dashboard;
    //display: flex;
    height: 80px;
    //margin-top: -10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.headline {
    margin-left: 10px;
    margin-top: 20px;
}

#tab {
    background-color: rgb(226, 224, 224);
    border: 1px gray solid;
}


/////////////Navigation-Mobile/////////////////

nav {
    grid-area: navigation;
    display: flex;
    justify-content: space-between;
    background-color: rgba(80, 30, 137, 0.989);
    padding: 10px;
    }

////////////Main Section-Mobile//////////////////
main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    margin-left: 10px;
    }



//Long gray Dividing line
#traffic,
.daily,
.mobile,
.social-container-full,
#members,
.activity,
.message {
    border-bottom: 2px lightgrey solid;
    margin-left: -10;
    margin-right: -10;
}

//Short gray dividing line
.members-container,
.members-activity {
    border-bottom: lightgray solid 1px;
}




.social-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px $gray solid;
    border-radius: 2%;
    background-color: $gray;
    margin: 15px
}

.social-text {
    margin-top: 10px;
}

.st-top {
    font-size: 18px;
    color: $main-accent;
    font-weight: 600;
}

.st-number {
    font-size: 40px;
}



/////Members Section-mobile

.members-container,
.members-activity {
    margin-top: 15px;

}

.members-text, 
.members-activity p {
    text-align: center;
    margin-bottom: 15px;
}

.members-text a {
    color: $main-accent;
}


//////////Activity Section-Mobile///////////

// .members-activity p {
//     text-align: center;
// }

/////////Message Section-Mobile//////////////

// .message-container {
//     display: grid;
//     grid-template-rows: 1fr 1fr 1fr 1fr;
// }


.message,
#settings {
    //display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
   // height: 80px;
}

#userField,
#messageField {
    background-color: $light-gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px rgb(193, 191, 191) solid;
    width: 90%
}

#userField {
    margin-top: 10px;
}

#messageField {
    //background-color: $light-gray;
    height:180px;
    margin-top: 10px;
}

#send {
    width: 90%;
}

////////Settings-Mobile////////////////

// .settings-button {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
    
// }


#settings {
    margin-left: 10px;
}


// #settings {
//     display: grid;
//     //grid-template-columns: 2fr 1fr;
//     grid-template-areas:
//     "email button1"
//     "public button2"
//     "timezone"
//     "save cancel";
// }

// .set-email {
//     grid-area: email;
// }

// #box1 {

// }




//Settings

#check1 {
    padding-bottom: 10px;
}
#check2 {
    padding-bottom: 20px;
}

#box1 {
    margin-left: 30%;
}

#box2 {
    margin-left: 37.5%;
}

#timezone {
    width: 90%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: $light-gray;
    border: 1px solid gray;
    border-radius: 5px;
    // text-align: 
}

// #select {
//     margin-left: 20%;
//     margin-top: 5%;
// }





/////////Footer-Mobile////////////////////////

#b2t {
    grid-area: footer;
    //display: flex;
    //align-self: center;
    margin-left: 20%;
    
    //text-align: center;
}

///////////Tablet Size/////////////////
@media (min-width: 768px) {
    
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "navigation dashboard"
        "navigation main"
        "navigation footer";
        }

        
/////////////Header-Tablet//////////////
header {
    grid-area: header;
   // grid-template-columns: 2fr .5fr .3fr 1fr;
    height: 70px;
    
}


.vertical-line {
    height: 40px;
    //margin-top: 10px;
    //margin-left: 20px;
}

.top-name {
    margin-top: 10px;
}

// #bell {
//     margin-left: 90px;
// }

///////////Navigation-Tablet///////////
nav {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .03fr .03fr .03fr .03fr;

}


////////////Main Section-Tablet//////////////////////


main {
    grid-template-columns: 50%;
    //margin-left: 20px;
    margin-top: 10px;
    //padding-left: 10px;
    //margin-right: 20px;
    //padding-right: 40px;
}


//"Dashboard" on tab
.headline {
    //margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    //margin-left: 10px;
}

#tab {
    grid-column: 2 / span 2;
    //margin-left: 15px;
   // width: 90%;
    height: 60px;
    //margin-left: -80px;
}



.alert {
    grid-row: 1 / span 2;
    margin-top: 15px;
}

//Top Charts Daily Traffic and Mobile Users
.daily,
.mobile {
    border: 1px lightgray solid;
}

//All 3 social media boxes, no header
.social-container-full {
    display: flex;
    grid-column: 1 / span 2;
    //align-items: center;
    justify-content: space-around;
    //margin-left: -20px;
    flex: 1;
    margin: 2px;
}

//each individual FB/INS/TW Box
.social-container {
    //display: flex;
    //width: 100px;
   border: 3px $light-gray solid;
}

//Social Media Entire Section
#stats-section {
    grid-column: 1 / span 2;
}

//Top Traffic line graph (NOT daily), 
//New Members, Messages,
// Recent Activity, Settings
.alert, #traffic, #members, .activity, .message,  #settings {
    grid-column: 1 / span 2;
    //margin-left: 20%;
}

//Daily traffic graph
.daily  {
    grid-column: 1 / span 1;
    }

//Mobile Users Graph
.mobile  {
    grid-column: 2 / span 1;
    }


.widget-container-full {
    width: 90vw;
    }
.widget-container-half {
    width: 45vw;
    }



//New Members
// .members-container {
//    // display: flex;
//     //flex-direction: column;

// }

.profile-image {
    //align-self: flex-start;
    //margin-right: 75%;
    //margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 20px;


}

// .members-text-tab {
//     margin-left: 10px;
// }

// #date {
//     //align-self: flex-end;
//     //margin-left: 75%;
// }



////Settings///

#check1 {
    padding-bottom: 10px;
}
#check2 {
    padding-bottom: 20px;
}



}



// ///////////Desktop Size/////////////////////////
// @media (min-width: 1024px) {
//     .grid-container {
//         grid-template-columns: 55px 1fr;
//         grid-template-rows: 10%;
//         grid-template-areas:
//         "header header"
//         "navigation main"
            // "navigation footer";
//         }


// }

/////////////////Header-Desktop/////////////////

// .header {
//     display: grid;
//     //grid-template-rows: 1fr 1fr 1fr;
//     grid-template-columns: 1fr 1fr 1fr;
// }
    
///////////Navigation-Desktop///////////////////

// .navigation {
//     display: grid;
//     width: 100%;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
// }


////////////////Planning Section/////////////////////

// header header
// nav main


// traffic graph
// daily traffic gr - mobile users gr
// soc f - soc i - soc t
// new members - recent activity
// message user - settings 









