//Mobile First 320px

.grid-container {
    display: grid;
    //max-width: 800px; //?

    grid-template-columns: 100%;
    grid-template-rows: auto;
    //grid-row-gap: 1px;
    //grid-column-gap: 1px;
    //grid-gap: 15px 16px; row first then column
    grid-template-areas:
    "header"
    "navigation"
    "main";
}

////////////// Header-Mobile /////////////////////


header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    // justify-content: space-between;
    // align-items: center;
    background-color: rgb(141, 94, 234);
    color: whitesmoke;
    padding-left: 8px;
    }


.vertical-line {
    height: 40px;
    position: absolute;
    left: 57%;
    margin-left: -3px;
    top: 0;
    margin-top: 2%;
    border-left: 2px solid $gray;
    }


.webapp-logo {
  font-size: 18px;
  margin-top: 11px;
  
}

.top-name {
    margin-top: 15%;
}


/////////////Navigation-Mobile/////////////////

nav {
    grid-area: navigation;
    display: flex;
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    //align-items: center;
    background-color: rgba(80, 30, 137, 0.989);
    //grid-column: 1 / span 1;
    padding: 10px;
    
    }

////////////Main Section-Mobile//////////////////
.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
    }

.social-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px $gray solid;
    border-radius: 2%;
    font-size: 18px;
    background-color: $gray;
    margin: 15px;
}

.members-text {
    margin-left: 30%;
}




/////////Message Section-Mobile//////////////

.message-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


#userField {
    background-color: $light-gray;
}

#messageField {
    background-color: $light-gray;
}

////////Settings-Mobile////////////////

/////////Footer////////////////////////

///////////Tablet Size/////////////////
@media (min-width: 768px) {
    
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
        }

        
/////////////Header-Tablet//////////////
header {
    grid-area: header;
    grid-template-columns: 2fr .8fr .5fr 1fr;
}

.webapp-logo {
    margin-top: 10px;
    margin-left: 10px;
}

.vl {
    height: 40px;
    margin-top: 8px;
}

.top-name {
    margin-top: 20px;
}
//img on top
.current-user {
    margin-top: 3px;
}

.bell {
    margin-top: 15px;
}

///////////Navigation-Tablet///////////
nav {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .03fr .03fr .03fr .03fr;

}

.nav-icon {
    width: 50%;
    margin-left: 30%;
    margin-top: 10px;
}

////////////Main Section-Tablet//////////////////////
main {
    grid-template-columns: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

#traffic, .social {
    grid-column: 1 / span 2;
    }

.daily, #members, .message {
    grid-column: 1 / span 1;
    }

.mobile, .activity, #settings {
    grid-column: 2 / span 1;
    }


.widget-container-full {
    width: 90vw;
    }
.widget-container-half {
    width: 45vw;
    }

// .social-container {
//     grid-column: 3 / span 1;
// }






}



// ///////////Desktop Size/////////////////////////
// @media (min-width: 1024px) {
//     .grid-container {
//         grid-template-columns: 55px 1fr;
//         grid-template-rows: 10%;
//         grid-template-areas:
//         "header header"
//         "navigation main";
//         }


// }

/////////////////Header-Desktop/////////////////

// .header {
//     display: grid;
//     //grid-template-rows: 1fr 1fr 1fr;
//     grid-template-columns: 1fr 1fr 1fr;
// }
    
///////////Navigation-Desktop///////////////////

// .navigation {
//     display: grid;
//     width: 100%;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
// }


////////////////Planning Section/////////////////////

// header header
// nav main


// traffic graph
// daily traffic gr - mobile users gr
// soc f - soc i - soc t
// new members - recent activity
// message user - settings 









