.social-image {
     width: 23%; //40%;
     height: auto;
     padding: 10px;
     background-color: $main-accent;
     fill: whitesmoke;
     margin: 18px;
     border-radius: 50%;
}

.nav-icon {
    width: 40%;
    height: auto;
    fill: whitesmoke;
    margin-left: 40%;
    margin-right: 40%;

}


.widget-container-full, .widget-container-half {
    width: 95vw;
    }

.bell-svg {
    width: 20px; //30px;
    fill: whitesmoke;
    margin-top: 5px;
}

.bell-svg:hover {
    transform: scale(1.8);
}

//profile pic on top
.current-user {
    width: auto;//35px; //50px;
    max-height: 2rem;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: auto;
}

.profile-image {
    width: 60px;
    border-radius: 60%;
    align-self: center;
}


@media (min-width: 768px) {

//img on top
.current-user {
    margin-bottom: 8px;
    width: 45px;
}

.bell-svg {
    width: 25px;
    margin-top: 20px;
}

.nav-icon {
    width: 70%;
    margin-left: 20%;
    margin-top: 10px;
}




}