.social-image {
    //display: none;
    width: 30%;
    height: auto;
    margin-top: 13px;
    margin-left: 30px;
}

.nav-icon {
    width: 40%;
    height: auto;
    fill: whitesmoke;
            //margin: 15px;
            margin-left: 40%;
            margin-right: 40%;

}


.widget-container-full, .widget-container-half {
    width: 95vw;
    }

.bell {
    width: 30px;
    margin-top: 10%;
    fill: whitesmoke;
}

//profile pic on top
.current-user {
    width: 40px;
    margin-top: 3px;
    margin-right: 20px;
    border-radius: 50%;
}

.profile-image {
    border-radius: 60%;
    margin-left: 30%;
}