.social-image {
    //display: none;
    width: 30%;
    height: auto;
    margin-top: 13px;
    margin-left: 30px;
    fill: $main-accent;
}

.nav-icon {
    width: 40%;
    height: auto;
    fill: whitesmoke;
    //margin: 15px;
    margin-left: 40%;
    margin-right: 40%;

}


.widget-container-full, .widget-container-half {
    width: 95vw;
    }

.bell-svg {
    width: 30px;
    margin-top: 25px;
    fill: whitesmoke;
}

//profile pic on top
.current-user {
    width: 50px;
   // margin-top: 15px;
   // margin-right: 20px;
    border-radius: 50%;
}

.profile-image {
    width: 60px;
    border-radius: 60%;
    margin-left: 45%;
}


@media (min-width: 768px) {

//img on top
.current-user {
    margin-bottom: 8px;
    width: 45px;
}

.bell-svg {
    margin-left: 150px;
    width: 25px;
    margin-top: 20px;

}
//mobile
// .bell {
//     width: 30px;
//     margin-top: 25px;
//     fill: whitesmoke;
// }

.nav-icon {
    width: 70%;
    margin-left: 20%;
    margin-top: 10px;
}




}