//Basic page styles//
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;

  
    }

    .vl {
        border-left: 3px solid $gray;
        height: 65px;
        position: absolute;
        left: 57%;
        margin-left: -3px;
        top: 0;
        margin-top: 3px;
      }

    // .header, .nav {

    // }

.banner-top {
  color: whitesmoke;
}

#tm {
  font-size: 14px;
  padding-bottom: 18px;
}

.top-name {
  color: whitesmoke;
}

