//Basic page styles//
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;

  
    }

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    width: 100vw;
}


ul {
    list-style-type: none;
  }

/////////////////////////////////////

// #notification-list{
//     position: absolute;
//     color: black;
//     background-color: $gray;
//     width: 290px;
//     border-radius: 4px;
//     box-shadow: 0px 3px 6px 0px var(--dark-grey);
//     top: 30px;
//     left: -105px;
//     padding: 0;
//     z-index: 2;
//     opacity: 0;
//     pointer-events: none;
//     transform: translateY(-170px);
//     transition: all .3s ease-in-out;
// }

// #notification-list li {
//     list-style-type: none;
//     text-align: center;
//     padding: 12px;
//     margin: auto;
//     width: 80%;
// }
