//Basic page styles//
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;

  
    }

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    width: 100vw;
}


ul {
    list-style-type: none;
  }

/////////////////////////////////////

