
//Variables---------------/////////////////////////

//Descriptive Base Colors
$white          : #fff;
$emerald        : #5ece7f;
$gray           : #f3f3f3;
$light-gray     : rgba(206, 205, 205, 0.329);

//Main Colors
$background-main : $white;
$main-accent     : rgb(141, 94, 234);

$border-gray: rgb(193, 191, 191)

//   // Descriptive Base Colors
//  $black    : #0b0b0b;



// $viking         : #58e1c1; 
// $sunglo         : #e67478;
// $coral          : #fd7856;
// $purple-majesty : #927bc1;
// $malibu         : #51ddfc;


// //Main Colors/////////
// $main-accent     : $viking;
// $text-color      : $gray; 
// $error-color     : $sunglo;



// //Media Query Breakpoints

// $break-sm: 1px;
// $break-md: 768px;
// $break-lg: 1040px;
